body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  color: #fafbe7;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.playerCard {
  background: #2f4858;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.playerCard:last-of-type {
  background: #376d7a;
}

small {
  font-size: 60%;
  font-weight: normal;
}

button {
  padding: 20px 30px;
  margin: 10px;
  border: none;
  text-transform: uppercase;
  border-radius: 3px;
}

button.active {
  border: 3px dotted white;
  margin: 7px;
  font-weight: bold;
}

.stones button {
  background: #f8ffad;
  min-width: 100px;
  display: inline-block;
}

.bonus button {
  background: #909467;
}

.bank button {
  background: #fafbe7;
}
.bank button.active {
  border-color: #2f4858;
}

.bank button,
.bonus button {
  font-size: 20px;
}

.actions {
  display: flex;
}

button.reset {
  background: none;
  border: 1px dotted #fafbe7;
}

button.submit {
  background: #aedfa4;
  flex-grow: 1;
}

.scores {
  background: #aedfa4;
  display: inline-block;
  min-width: 200px;
  margin: 0 20px;
  color: #2f4858;
}
.playerName {
  text-transform: uppercase;
}
.currentMove,
.totalScore {
  font-weight: normal;
  margin: 10px 0;
}
